<%- include("includes/head.ejs") %>
  <body>
    <h1>This page belongs to @<%= data.name %></h1>
    <button>Follow</button>
    <button>Message</button>
    <p>
      Followers : <%= data.followers %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Following : <%= data.following %>
    </p>
    <hr />
    <% for(let post of data.posts){ %>
    <img src="<%= post.image %>" />
    <p>
      Likes : <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comments :
      <%= post.comments %>
    </p>
    <% } %>
  </body>
  <script src="/app.js"></script>
</html>
